@page "/"

<PageTitle>Kalendarz</PageTitle>

<div class="calendar-control-panel">
    <div class="calendar-controls">
        <MudDatePicker PickerVariant="PickerVariant.Static" Date="@DateTimeSelected" DateChanged="OnDateChange" />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large">Dodaj +</MudButton>
    </div>
    <div class="calendar-wrapper">
        <CalendarComponent />
    </div>
</div>

@code {
    private DateTime DateTimeSelected = DateTime.Today;

    private void OnDateChange(DateTime? newDateTime)
    {
        DateTimeSelected = newDateTime != null ? newDateTime.Value : DateTimeSelected;
        Console.WriteLine(DateTimeSelected);
    }
}