@inject IDialogService DialogService
@page "/"

<PageTitle>Kalendarz</PageTitle>

<div class="calendar-control-panel">
    <div class="calendar-controls">
        <MudDatePicker PickerVariant="PickerVariant.Static" Date="@dateTimeSelected" DateChanged="OnDateChange" />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" @onclick="OpenDialog">Dodaj +</MudButton>
    </div>
    <div class="calendar-wrapper">
        <CalendarComponent @ref="calendarComponent" />
    </div>
</div>

@code {
    private CalendarComponent calendarComponent = null!;
    private DateTime dateTimeSelected = DateTime.Today;

    private async Task OnDateChange(DateTime? newDateTime)
    {
        dateTimeSelected = newDateTime != null ? newDateTime.Value : dateTimeSelected;
        await calendarComponent.SetCalendarForSelectedDate(dateTimeSelected);
    }

    private void OpenDialog()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogService.Show<AddAppointmentModal>("Dodaj wizyte", options);
    }
}